---
import Layout from "../layouts/Layout.astro"


---

<Layout title="Nosotros">
<h1 class="text-white fle fle-col text-center">
    <p>Un aprendiz de desarrollador de software es un profesional en formación que colabora con desarrolladores de software experimentados para aprender los fundamentos del desarrollo de software y adquirir experiencia práctica en el campo.</p>
    
    <p>Sus responsabilidades pueden incluir:</p>
    
    <p>Asistir a desarrolladores sénior en tareas como la codificación, pruebas y depuración de software.</p>
    <p>Escribir código simple bajo la supervisión de desarrolladores sénior.</p>
    <p>Realizar pruebas de software para identificar y corregir errores.</p>
    <p>Documentar el código y los procesos de desarrollo.</p>
    <p>Aprender sobre diferentes lenguajes de programación, herramientas y metodologías de desarrollo.</p>
    <p>Mantenerse actualizado sobre las últimas tendencias y tecnologías en el ámbito del desarrollo de software.</p>
</h1>
</Layout>