---
//js
---
<header class="py-8 px-6 mx-auto max-w-xl lg:py-16 lg:px-6">
    <div class="mx-auto text-center mb-8 lg:mb-16">
        <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white"> Mi proyecto1 en astro 
        </h2>
        <p class="font-light text-gray-500 sm:text-xl dark: ">
       Marquiños
        </p>
        </div>

        <nav class="flex flex-col items-center justify-between w-full text-center md:flex-row">
            <a href="" class="text-white">Ultimos lanzamientos</a>
            <a href="" class="text-white">lo mas viejo </a>
            <a href="" class="text-white"></a>
           


        </nav>
</header>
